<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>iHealthSDK</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3722</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Whether to allow the app to use Bluetooth ?</string>
	<key>NSMicrophoneUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>TTNormsPro-DemiBold.otf</string>
		<string>TTNormsPro-ExtraBlack.otf</string>
		<string>TTNormsPro-Bold.otf</string>
		<string>TTNormsPro-Black.otf</string>
		<string>TT Norms Pro Medium.ttf</string>
		<string>TTNormsPro-ExtraBold.otf</string>
		<string>TTNormsPro-ExtraLight.otf</string>
		<string>TTNormsPro-Light.otf</string>
		<string>TTNormsPro-Medium.otf</string>
		<string>TTNormsPro-Normal.otf</string>
		<string>TTNormsPro-Regular.otf</string>
		<string>TTNormsPro-Thin.otf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>external-accessory</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.jiuan.P930</string>
		<string>com.ihealth.sc221</string>
		<string>com.jiuan.BPV20</string>
		<string>com.jiuan.BGV30</string>
		<string>com.jiuan.BGV31</string>
		<string>com.jiuan.BPV21</string>
		<string>com.jiuan.BPV23</string>
		<string>com.jiuan.ECGV10</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
